@import 'settings';
@import 'foundation-emails';

@import 'template/template';

a{
  color:#1e90ff;
}

.icd-header{
  padding:10px 20px;
}

.icd-footer__yellow {
  h1, h2, h3, h4, h5, h6, strong, p {
    font-size: 16px;
  }
}

.icd-footer__white {
  color:gray !important;;
  h1, h2, h3, h4, h5, h6, strong, p {
    color:gray;
    font-size: 12px;
  }
}
p{
  margin-bottom: 5px;
  margin-top:5px;
}
.promo-info{

  p {
    font-size: 12px;
    line-height: 1.25;

  }
  a{
    color:#1e90ff;
  }
}
.btn-group{
  display: inline-block;
  font-size: 14px;
  line-height: 1.43;
}
.grey{
  background-color: grey;
}
.book-info{
  h1{

    font-size: 12px;
    line-height: 1.25;
    color: #666666;
  }
  p{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #333333;
  }
}
li{
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
.load_docs{
  a{
    text-decoration: none;
  }
}
.orders_stat{
  h1{
    font-size: 12px;
    line-height: 1.25;
    color: #666666;
  }
  .order_confirm {
    span {
      background-color: #4caf50;
      border: 1px solid #4caf50;
      border-radius: 5px;
      color:white;
    }
  }
  .order_delay {
    span {
      background-color: #bcaaa4;
      border: 1px solid #bcaaa4;
      border-radius: 5px;
      color:white;
    }
  }
  .order_uploaded{
    span {
      background-color: #4caf50;
      border: 1px solid #4caf50;
      border-radius: 5px;
      color:white;
    }
  }
}
button{
  a{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: center;
    color: #333333;
  }
  p{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: center;
    color: #333333;
  }
}
a{
  text-decoration: none;
}
