<!--header-->
<container class="header">
    <spacer size="10"></spacer>
    <row class="icd-header">
        <columns>
            <img src="/assets/img/logo.svg" align="left">
            <p align="right" class="text-right" style="color:#666666">Надёжные грузоперевозки по России</p>
        </columns>
    </row>
    <spacer size="10"></spacer>
</container>


<!--main part-->

<container class="icd-mail">


    <row class="icd-main">
        <columns large="0.6" style="background-color: white"></columns>
        <columns large="10.8" style="background: white">

            <spacer size="30"></spacer>

            <p><b>{{#variable}}name{{/variable}}, Здравствуйте! </b></p>

            <spacer size="10"></spacer>

            <!-- body -->

            <p class="text-left">Мы подобрали исполнителя и машину для выполнения вашего заказа № {{#variable}}number{{/variable}} . Пожалуйста, подтвердите готовность отправить ваш груз. </p>

            <row class="icd-main btn-group">

                <columns large="5.5" style="background: white">

                    <spacer size="30"></spacer>
                    <button href="#" class="expanded">
                        <p class="text-center"><b>  Отправляем груз!  </b></p>
                    </button>

                    <spacer size="30"></spacer>

                </columns>
                <columns large="1"></columns>
                <columns large="5.5" style="background: white">

                    <spacer size="30"></spacer>

                    <button href="#" class="secondary expanded">
                        <p class="text-center" style="color:white" ><b>Аннулировать заявку</b></p>
                    </button>

                </columns>

            </row>
            <div class="book-info">
                <div><h1 class="text-left">Маршрут</h1>
                    <p><b>{{#variable}}route{{/variable}}</b></p>
                    <h1 class="text-left">{{#variable}}loading_area{{/variable}}—{{#variable}}unloading_area{{/variable}}</h1>
                </div>
                <spacer size="20"></spacer>
                <div><h1 class="text-left">Грузовик</h1>
                    <p><b>{{#variable}}car_type{{/variable}}</b></p></div>
                <spacer size="20"></spacer>
                <div><h1 class="text-left">Груз</h1>
                    <p><b>{{#variable}}cargo_type{{/variable}}</b></p></div>
                <spacer size="20"></spacer>
                <div><h1 class="text-left">Погрузка</h1>
                    <p><b>{{#variable}}loading_date{{/variable}} {{#variable}}loading_time{{/variable}}</b></p></div>
                <spacer size="20"></spacer>
                <div><h1 class="text-left">Стоимость перевозки</h1>
                    <p><b>{{#variable}}freight_cost{{/variable}}</b></p></div>
            </div>
            <spacer size="30"></spacer>
        </columns>
        <columns large="0.6" style="background-color: white"></columns>
    </row>
</container>



<spacer size="30"></spacer>
<container class="agent-footer">
    <row class="icd-main">
        <columns large="0.6" style="background-color: white"></columns>
        <columns large="5.4" style="background: white">

            <spacer size="30"></spacer>
            <p class="text-left">Ярослав Мельников </p>
            <p class="text-left" style="font-size: 12px;
   line-height: 2.08;color:#666666">Ваш персональный менеджер </p>


            <spacer size="30"></spacer>

        </columns>
        <columns large="5.4" style="background: white">

            <spacer size="30"></spacer>
            <p class="text-right">8 (800) 777–77–86</p>
            <p class="text-right"><a href="mailto:sales@icandeliver.ru">sales@icandeliver.ru </a> </p>


            <spacer size="30"></spacer>

        </columns>
        <columns large="0.6" style="background-color: white"></columns>
    </row>
</container>
<spacer size="50"></spacer>
<!--footers-->

<container>
    <row class="icd-footer__yellow">
        <columns>

            <p class="text-center">Ответим на все ваши вопросы, звоните: <a href="tel:88007777786" style="color: black">8 (800) 777 77-86</a> </p>
            <p class="text-center" style="padding:0; font-size:11px;color:gray;line-height:20px">(с 9:00 до 19:00) Бесплатный звонок по России </p>

            <div class="promo-info">
                <spacer size="20"></spacer>
                <p class="text-center">Подписывайтесь на нас в <a href="https://www.facebook.com/loveicandeliver/">Фейсбуке </a>,
                    <a href="https://vk.com/i_can_deliver">Вконтакте </a></p>
                <p class="text-center">Служба поддержки <a href="mailto:sales@icandeliver.ru">sales@icandeliver.ru </a></p>
            </div>
        </columns>
    </row>
</container>

<spacer size="20"></spacer>

<container>
    <row class="icd-footer__white">
        <columns>
            <center>
                <p class="text-center">
                    &copy; ООО «Веб Логистика»
                </p>
                <p class="text-center">
                    123022, г. Москва, ул. 2-я Звенигородская, д. 13, стр. 43, помещение 1
                </p>
                <p class="text-center">
                    ИНН: 7734370287, ОГРН:﻿5157746080355
                </p>
            </center>
        </columns>
    </row>
</container>
