<!--header-->
<container class="header">
    <spacer size="10"></spacer>
    <row class="icd-header">
        <columns>
            <img src="/assets/img/logo.svg" align="left">
            <p align="right" class="text-right" style="color:#666666">Надёжные грузоперевозки по России</p>
        </columns>
    </row>
    <spacer size="10"></spacer>
</container>
<!--main part-->

<container class="icd-mail">


    <row class="icd-main">
        <columns large="0.6" style="background-color: white"></columns>
        <columns large="10.8" style="background: white">

            <spacer size="30"></spacer>

            <p><b>{{#variable}}name{{/variable}}, Здравствуйте!</b></p>

            <spacer size="10"></spacer>

            <!-- body -->

            <p class="text-left">Недавно вы оставляли у нас заказ на перевозку, но мы, к сожалению, не нашли машину.<br>
                Это было связано с возросшим количеством заказов в эти дни, но мы работаем над этим и ежедневно пополняем базу новыми перевозчиками! </p>
            <spacer size="20"></spacer>
            <p class="text-left">Мы дарим вам бонус 2000 рублей на следующую отгрузку и обязательно выполним ваш заказ. </p>
            <spacer size="30"></spacer>
            <row class="promocod">
                <columns style="background: #f2f2f2">
                    <spacer size="30"></spacer>
                    <p class="text-center">Укажите в заявке промокод</p>
                    <p class="text-center"> <b>{{#variable}}PROMOCOD{{/variable}}</b></p>
                    <spacer size="20"></spacer>
                    <center>
                        <button href="#" class="default">
                            Заказать перевозку
                        </button>
                    </center>
                    <spacer size="20"></spacer>
                </columns>
            </row>

            <spacer size="15"></spacer>
            <p class="text-center"><b>Перевозите грузы по самым выгодным ценам<br>
                без бумажной волокиты!</b></p>
            <spacer size="30"></spacer>

        </columns>
        <columns large="0.6" style="background-color: white"></columns>
    </row>


</container>
<spacer size="50"></spacer>
<!--footers-->

<container>
    <row class="icd-footer__yellow">
        <columns>

            <p class="text-center">Ответим на все ваши вопросы, звоните: <a href="tel:88007777786" style="color: black">8 (800) 777 77-86</a> </p>
            <p class="text-center" style="padding:0; font-size:11px;color:gray;line-height:20px">(с 9:00 до 19:00) Бесплатный звонок по России </p>

            <div class="promo-info">
            <spacer size="20"></spacer>
            <p class="text-center">Подписывайтесь на нас в <a href="https://www.facebook.com/loveicandeliver/">Фейсбуке </a>,
                <a href="https://vk.com/i_can_deliver">Вконтакте </a></p>
            <p class="text-center">Служба поддержки <a href="mailto:sales@icandeliver.ru">sales@icandeliver.ru </a></p>
            </div>
        </columns>
    </row>
</container>

<spacer size="20"></spacer>

<container>
    <row class="icd-footer__white">
        <columns>
            <center>
                <p class="text-center">
                    &copy; ООО «Веб Логистика»
                </p>
                <p class="text-center">
                    123022, г. Москва, ул. 2-я Звенигородская, д. 13, стр. 43, помещение 1
                </p>
                <p class="text-center">
                    ИНН: 7734370287, ОГРН:﻿5157746080355
                </p>
            </center>
        </columns>
    </row>
</container>

