<!--header-->
<container class="body-drip" >
    <row class="header" style="padding:12px;">
        <columns large="9">

            <spacer size="7"></spacer>

            <h3 class="text-left" >Программа лояльности <br>для Вас!</h3>

        </columns>
        <columns large="3">
            <spacer></spacer>
            <img src="http://email-image.ru/can_deliver/090616_logo.png" class="img-right">
        </columns>
    </row>

</container>


<!--main part-->
<container class="body-drip width-small">

    <row>
        <columns large="2" style="background-color: #f2f2f2"></columns>
        <columns large="12" style="

  border-left:4px solid #ffd400;
  border-right: 4px solid #ffd400;">
            <center>
                <row>
                    <columns>
                        <spacer size="16"></spacer>
                        <p class="text-center"><b>Добрый день!</b></p>
                        <p class="text-center">Мы начали сотрудничество с крупными партнерами.</p>
                        <p class="text-center">Теперь на сайте  deliver.ru и в мобильном приложении “Я-Дальнобой”  - </p>
                        <p class="text-center"><b>появилось еще больше заказов!</b></p>
                        <p class="text-center">Все гарантии по оплате  iCanDeliver берет на себя -  мы оплатим вашу работу в течение 5 дней после получения оригиналов документов, даже если клиент нам не заплатит.</p>
                        <p class="text-center">Мы  работаем с машинами старше 15 лет.</p>
                        <p class="text-center">Доступ к поиску заказов бесплатный! </p>
                    </columns>
                </row>



                <row>
                    <columns>

                        <center>
                            <button href="https://www.deliver.ru/?utm_source=email&utm_medium=ati_icd "class=" rounded button-icd" >Посмотреть все закзазы</button>
                        </center>
                    </columns>
                </row>

                <row>
                    <columns>
                        <spacer size="16"></spacer>
                        <p class="text-center">скачайте мобильное приложение и</p>
                        <p class="text-center">берите груз по ставке <b>ВЫШЕ</b> на <b>2000</b> рублей чем на сайте.</p>

                    </columns>
                </row>



                <row>
                    <columns>

                        <center>
                            <button href="https://app.appsflyer.com/ru.deliver.partner?pid=email&c=ati_icd"class=" rounded button-icd" >Скачать мобильное приложение</button>
                        </center>
                    </columns>
                </row>


            </center>
        </columns>

        <columns large="2" style="background-color: #f2f2f2"></columns>
    </row>
</container>


<!--footers-->

<container class="body-drip">

    <row class="collapsed footer">
        <columns>
            <spacer size="16"></spacer>
            <h4 class="text-center" ><b> Есть вопросы?</b></h4>
            <spacer size="8"></spacer>
            <p class="text-center">Позвоните нам:<a href="tel:88007777786" style="color: black"> 8 (800) 777 77-86</a> </p>
            <p class="text-center"><small> звонок бесплатный</small> </p>
            <spacer size="5"></spacer>
            <p class="text-center">Напишите нам:<a href="mailto:sales@icandeliver.ru" >sales@icandeliver.ru </a></p>

        </columns>
    </row>

    <row class=" icd-footer">
        <columns>
            <spacer size="10"></spacer>
            <h6 class="text-center"> © ООО «Веб Логистика»</h6>
            <p class="text-center">123022, г. Москва, ул. 2-я Звенигородская, д. 13, стр. 43, помещение 1</p>
            <p class="text-center">ИНН: 7734370287, ОГРН:﻿5157746080355 </p>

        </columns>
    </row>

</container>