<!--header-->
<container class="header">
    <spacer size="10"></spacer>
    <row class="icd-header">
        <columns>
            <img src="/assets/img/logo.svg" align="left">
            <p align="right" class="text-right" style="color:#666666">Надёжные грузоперевозки по России</p>
        </columns>
    </row>
    <spacer size="10"></spacer>
</container>


<!--main part-->

<container class="icd-mail">


    <row class="icd-main">
        <columns large="1" style="background-color: white"></columns>
        <columns large="10" style="background: white">

            <spacer size="30"></spacer>

            <p><b>{{#variable}}name{{/variable}}, Здравствуйте! </b></p>

            <spacer size="10"></spacer>

            <!-- body -->
            <p>Вы&nbsp;отменили заказ после нахождения машины по&nbsp;заказу №{{#variable}}number{{/variable}}. К&nbsp;сожалению, мы&nbsp;вынуждены выставить счет на&nbsp;оплату штрафов размере 20% от&nbsp;стоимости заказа.</p>
            <spacer size="40"></spacer>
            <button href="#" >Скачать счет на оплату</button>
            <spacer size="40"></spacer>


        </columns>
        <columns large="1" style="background-color: white"></columns>
    </row>
    <spacer size="30"></spacer>




</container>
<container class="agent-footer">
    <row class="icd-main">
        <columns large="1" style="background-color: white"></columns>
        <columns large="5" style="background: white">

            <spacer size="30"></spacer>
            <p class="text-left">Ярослав Мельников </p>
            <p class="text-left" style="font-size: 12px;
   line-height: 2.08;color:#666666">Ваш персональный менеджер </p>


            <spacer size="30"></spacer>

        </columns>
        <columns large="5" style="background: white">

            <spacer size="30"></spacer>
            <p class="text-right">8 (800) 777–77–86</p>
            <p class="text-right"><a href="mailto:sales@icandeliver.ru">sales@icandeliver.ru </a> </p>


            <spacer size="30"></spacer>

        </columns>
        <columns large="1" style="background-color: white"></columns>
    </row>
</container>
<spacer size="50"></spacer>
<!--footers-->

<container>
    <row class="icd-footer__yellow">
        <columns>

            <p class="text-center">Ответим на все ваши вопросы, звоните: <a href="tel:88007777786" style="color: black">8 (800) 777 77-86</a> </p>
            <p class="text-center" style="padding:0; font-size:11px;color:gray;line-height:20px">(с 9:00 до 19:00) Бесплатный звонок по России </p>

            <div class="promo-info">
                <spacer size="20"></spacer>
                <p class="text-center">Подписывайтесь на нас в <a href="https://www.facebook.com/loveicandeliver/">Фейсбуке </a>,
                    <a href="https://vk.com/i_can_deliver">Вконтакте </a></p>
                <p class="text-center">Служба поддержки <a href="mailto:sales@icandeliver.ru">sales@icandeliver.ru </a></p>
            </div>
        </columns>
    </row>
</container>

<spacer size="20"></spacer>

<container>
    <row class="icd-footer__white">
        <columns>
            <center>
                <p class="text-center">
                    &copy; ООО «Веб Логистика»
                </p>
                <p class="text-center">
                    123022, г. Москва, ул. 2-я Звенигородская, д. 13, стр. 43, помещение 1
                </p>
                <p class="text-center">
                    ИНН: 7734370287, ОГРН:﻿5157746080355
                </p>
            </center>
        </columns>
    </row>
</container>